<% include partials/header %>

<div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>This is the campground page!</h1>
                <p>Explore the world of camps</p>
                <a class= "btn btn-primary btn-lg" href="/campgrounds/new">Add a new camp</a>
            </div>
        </header>

        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6" style="margin: 5px 0;">
                    <div class="img-thumbnail">
                        <img src="<%= campground.image %>" alt="The place picture" style="width: 100%;">
                        <div class="caption">
                            <h4><%=campground.name %></h4>
                        </div>
                    </div>
                </div>
            <%});%>
        </div>
</div>


<% include partials/footer %>